.mega{
    display: flex;
}
.container{
    width: 50%;
    height: 100%;
    text-align: left;
    overflow:hidden;
}
.container2{
    width: 50%;
    height: 100%;
    text-align: left;
    overflow:hidden;    
}

.ancho{
    width: 90%;
}