<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="body">
    <button mat-flat-button class="btn">
        <img width="90%" src="../../../assets/img/education.png" alt="">
        <h2>Get into class</h2>
    </button>
    <button mat-flat-button class="btn">
        <img width="90%" src="../../../assets/img/notebook.png" alt="">
        <h2>My books</h2>
    </button>
    <button mat-flat-button class="btn">
        <img width="90%" src="../../../assets/img/to-do-list (1).png" alt="">
        <h2>List of assists</h2>
    </button>

</div>
<footer class="footer">
<app-bottombar></app-bottombar>
</footer>